body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #1C1C1C;
  overflow: hidden;
  width: 100%; /* Ocupa todo el ancho disponible */
  display: flex; /* Alineación flex para el contenido */

  justify-content: center; /* Centrar horizontalmente */
  align-items: flex-start; /* Alinear en la parte superior */
  margin-top: 0; /* Ajusta este valor para mover la barra de navegación hacia arriba */
}

.navbar-logo {
  margin-right: auto; /* Empuja el logo hacia la izquierda */

}

.navbar-logo img {
  width: 200px; /* Ajusta el tamaño según tus preferencias */
  height: auto; /* Esto mantiene la proporción de la imagen */
}

.navbar-menu-container {
  display: flex; /* Alineación flex para el menú */
  align-items: flex-start; /* Centrar verticalmente el menú arriba */
  margin-left: auto; /* Empuja el menú hacia la derecha */
  margin-right: 400px; /* Centra horizontalmente el menú */
  padding-top: 30px; /* Espacio desde arriba */

}
.navbar-menu {
  display: flex;
  align-items: center; /* Centrar verticalmente el menú */
  margin-right: 0px; /* Espacio entre el logo y el menú */
  padding: 5px 0; /* Ajusta este valor para reducir el espacio vertical */

}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative; /* Posición relativa para los enlaces */
  z-index: 1; /* Colocar los enlaces por encima de los elementos con hover */
  margin: 0 10px; /* Espacio horizontal entre los enlaces */
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: 0; /* Alinea en la parte inferior */
  left: 0;
  width: 100%;
  height: 0; /* Inicialmente sin altura */
  background-color: #333; /* Color de fondo para el efecto de hover */
  z-index: -1; /* Colocar por debajo de los enlaces */
  transition: height 0.3s; /* Animación de transición */
}

.navbar a:hover::before {
  height: 50%; /* Altura para el efecto de hover */
}

.navbar-logo a::before {
  display: none; /* No aplicar el efecto de hover al logo */
}


/*header-carrusel */
.carousel {
  position: relative;
  overflow: hidden;
  height: 600px; /* Ajustar la altura según tus necesidades */
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateZ(0) scale(0.8);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
  transform: translateZ(0) scale(1);
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  text-align: center;
  color: white;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Agregar transición de opacidad */
  opacity: 0; /* Inicialmente oculto */
}

.carousel-item.active .carousel-caption {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1; /* Mostrar el título con la imagen */
}

.carousel-caption h2 {
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  transform: translateX(-20px); /* Añadir un desplazamiento inicial */
  opacity: 0; /* Inicialmente oculto */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition-delay: 1s; /* Retraso de 1 segundo para la transición del título */

}

.carousel-item.active .carousel-caption h2 {
  transform: translateX(0);
  opacity: 1; /* Mostrar el título con la imagen */
  transition-delay: 1s; /* Retraso de 1 segundo para la transición del título */

}

/*grud*/
.grid {
  position: relative;
  clear: both;
  margin: 110px;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* Cambio a una sola columna en dispositivos móviles */
    text-align: center; /* Centrar los elementos en dispositivos móviles */
  }
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin:  0 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 1em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.10em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


/*servicios */
figure.effect-julia {
	background: #2f3238;
}

figure.effect-julia img {
	max-width: none;
	height: 400px;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-julia figcaption {
	text-align: left;
}

figure.effect-julia h2 {
	position: relative;
	padding: 0.5em 0;
}

figure.effect-julia p {
	display: inline-block;
	margin: 0 0 0.25em;
	padding: 0.4em 1em;
	background: rgba(255,255,255,0.9);
	color: #2f3238;
	text-transform: none;
	font-weight: 500;
	font-size: 75%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-360px,0,0);
	transform: translate3d(-360px,0,0);
}

figure.effect-julia p:first-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-julia p:nth-of-type(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia p:nth-of-type(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

figure.effect-julia:hover p:nth-of-type(2) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-julia:hover p:nth-of-type(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-julia:hover img {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

figure.effect-julia:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*titulo*/

.centered-title {
  text-align: center;
  position: relative;
  font-size: 35px; /* Ajusta el tamaño de la letra */
  margin: 120px;
}

.centered-title::after {
  content: "";
  position: absolute;
  bottom: -20px; /* Ajusta la distancia de la línea con el texto */
  left: 50%;
  transform: translateX(-50%);
  width: 50px; /* Ajusta la longitud de la línea */
  height: 5px; /* Grosor de la línea */
  background-color: #0071BC; /* Color de la línea */
}

/*demo 1*/

.grid-demo {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columnas en el grid */
  margin: 2px 25px; /* Margen exterior ajustado */
  max-width: 1200px; /* Máximo ancho del grid */

}
.box {
	width: 300px;
	height: 560px;
	position: relative;
  background: rgba(246, 164, 29, 0.90); /* Cambia el valor alpha para ajustar la opacidad */
  display: flex; /* Cambio a display flex para centrar contenido */
  flex-direction: column;
  justify-content: center; /* Centrar contenido verticalmente */
  align-items: center; /* Centrar contenido horizontalmente */
	margin: 0 5px;
	cursor: pointer;
	color: #2c3e50;
	box-shadow: inset 0 0 0 3px #F6A41D;
	-webkit-transition: background 0.4s 0.5s;
	transition: background 0.4s 0.5s;
}

.box:hover {
	background: rgba(255,255,255,0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.box h3 {
	font-family: "Ruthie", cursive;
	font-size: 180px;
	line-height: 370px;
	margin: 0;
	font-weight: 400;
	width: 100%;
}

.box span {
	display: block;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	padding: 5px;
}

.box h3,
.box span {
	-webkit-transition: color 0.4s 0.5s;
	transition: color 0.4s 0.5s;
}

.box:hover h3,
.box:hover span {
	color: #2c3e50;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.box svg {
	position: absolute;
	top: 0;
	left: 0;
}

.box svg line {
	stroke-width: 3;
	stroke: #ecf0f1;
	fill: none;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

.box:hover svg line {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.box svg line.top,
.box svg line.bottom {
	stroke-dasharray: 330 240; 
}

.box svg line.left,
.box svg line.right {
	stroke-dasharray: 490 400;
}

.box:hover svg line.top {
	-webkit-transform: translateX(-600px);
	transform: translateX(-600px);
}

.box:hover svg line.bottom {
	-webkit-transform: translateX(600px);
	transform: translateX(600px);
}

.box:hover svg line.left {
	-webkit-transform: translateY(920px);
	transform: translateY(920px);
}

.box:hover svg line.right {
	-webkit-transform: translateY(-920px);
	transform: translateY(-920px);
}

/* footer */
footer {
  background-color: #1C1C1C;
  padding: 20px;
  color: #fff;
  text-align: center;
  position: relative;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  flex: 1;
  padding: 10px;
}
.info-section {
  margin-top: 10px;
}

.column p {
  font-size: 14px;
  margin: 15px;
  line-height: 1.5;
}

.column img {
  max-width: 100%;
  height: auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 5px 0 15px;
  
}

.menu li a {
  text-decoration: none;
  color: #fff;
}

.menu li a:hover {
  color: #ff9900;
}

.rights {
  background-color: #333;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.rights p {
  font-size: 14px;
  color: #ccc;
  margin: 0;
  padding: 5px 0;
}